@charset "utf-8";
body {
    --line-of-chars:40;
    font-size: calc(100vw / var(--main-bg-color)) ;
    background-color: #FF00FF;
}
p {
    font-size: 2.5vw;
/*    font-size: calc(100vw / var(--main-bg-color)) ;*/
}
